
#main {
  width: 500px;
  height: 300px;
  position: absolute;
  transform: translate(50%,50%);
  z-index: 102;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.centralise{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.line{
    position: sticky;
    display: inline-flex;
    height: 60px;
    border-radius: 10px;
    width: 10px;
    background: #0b989d;
}
#l1{
    animation: anim 2s linear infinite;
    animation-delay: 0s;
}
#l2{
    animation: anim 2s linear infinite;
    animation-delay: 0.12s;
}
#l3{
    animation: anim 2s linear infinite;
    animation-delay: 0.24s;
}
#l4{
    animation: anim 2s linear infinite;
    animation-delay: 0.36s;
}
#l5{
    animation: anim 2s linear infinite;
    animation-delay: 0.48s;
}
#l6{
    animation: anim 2s linear infinite;
    animation-delay: 0.60s;
}
#l7{
    animation: anim 2s linear infinite;
    animation-delay: 0.72s;
}
#l8{
    animation: anim 2s linear infinite;
    animation-delay: 0.84s;
}
#l9{
    animation: anim 2s linear infinite;
    animation-delay: 0.96s;
}
#l10{
    animation: anim 2s linear infinite;
    animation-delay: 1.08s;
}
@keyframes anim{
    25%{
        transform: scale(0,2.5);
    }
    50%{
        transform: scale(1);
    }
}
