th,
td {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #0b989d;
  line-height: 0;
}
td:hover {
  color: #0b989d;
  background-color: white;
}

th {
  padding: 15px;
}

table {
  position: absolute;
  width: 60%;
  height: 50%;
  left: 35%;
  transform: translate(-50%, 50%);
  background-color: #0b989d;
  margin: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  table-layout: fixed;
  border-radius: 10%;
  white-space: nowrap;
  opacity: 0.9;
}

.day,
.day:hover {
  background-color: transparent;
}

button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 100%;
  color: white;
  background-color: #0b989d;
  border-radius: 100%;
}

button:hover {
  color: white;
  background-color: #0b989d;
}

td button {
  font-weight: inherit;
}

.out {
  font-weight: italic;
  font-size: 90%;
}

.in {
  font-size: 110%;
  font-weight: bold;
}

/* button.notSelected {
    background-color: #0b989d;
    color: white;
}

button.selected {
    background-color: #133952;
    color: #0b989d;
} */
