
.day,
.day:hover {
  background-color: transparent;
}

td button {
  font-weight: inherit;
}

.out {
  font-weight: italic;
  font-size: 90%;
}

.in {
  font-size: 110%;
  font-weight: bold;
}

/* button.notSelected {
    background-color: #0b989d;
    color: white;
}

button.selected {
    background-color: #133952;
    color: #0b989d;
} */
