:root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #f4f9fd;
  --bodyColor: #000000;
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
  height: 100%;
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  height: auto;
  line-height: var(--bodyLineHeight);
  overflow: hidden;
}


.home {
  display: flow-root;
  height: 100vh;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.dashboard {
  border: blue 0px solid;
  height: calc(100vh - 75px);
  width: auto;
  position: relative;
  top: 30px;
  margin: 1% 1% 1% 1%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.rightSideDash {
  border: red 0px solid;
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  flex-grow: 5;
  flex-shrink: 1;
}

.bottomSideDash {
  border: green  0px solid;
  height: auto;
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  flex-grow: 1;
  flex-shrink: 1;
}


.navbar {
  border: #839595 0px solid;

  background-color: white;

  margin-bottom: 1%;

  padding-top: 10px;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;

  min-height: 200px;
  max-height: 200px;

  flex-grow: 1;
  flex-shrink: 2;

  overflow: visible;
}

.overduePatients {
  border: #839595 0px solid;

  margin-right: 1%;

  padding-top: 10px;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;


  background-color: white;

  min-width: 200px;
  max-width: 325px;

  overflow: hidden;

  flex-grow: 1;
  flex-shrink: 2;
  align-self: stretch;
}

.calendar {
  border: #839595 0px solid;

  background-color: white;

  padding: 0.5%;

  width: 200px;
  overflow: hidden;
  flex-grow: 5;
  flex-shrink: 1;
}

.ongoingWeekly {
  border: #839595 0px solid;

  background-color: white;


  padding: 0.5%;

  background-color: ;

  overflow: hidden;

  height: auto;

  min-width: 200px;
  max-width: 325px;

  flex-grow: 1;
  flex-shrink: 2;

}

.divider {
  background-color: white;


  padding: 0.5%;

  overflow: hidden;

  height: auto;

}


::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar:vertical {
  display: none;
}

::-webkit-scrollbar-thumb  {
  background: #0b989d;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}
