:root {
    --htmlFontSize: 100%;
    --bodyBackgroundColor: rgb(244,249,253);
    --bodyColor: #000000;
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.800rem;
    --bodyFontWeight: 500;
    --bodyLineHeight: 1.5;
  }

  html {
    box-sizing: border-box;
    font-size: var(--htmlFontSize);
    height: 100%;
  }

  body {
    background-color: var(--bodyBackgroundColor);
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    height: auto;
    line-height: var(--bodyLineHeight);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    background: transparent;
    transition: background-color 0.3s;
  }



  ::selection {
    color: #0e4f54;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar:vertical {
    display: none;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb  {
    background: #0b989d;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track  {
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
