#titlebar {
  z-index: 100;
  padding: 2px;
  display: block;
  position: fixed;
  top: 0;
  height: 24px;
  width: 100%;
  background-color: #0b989d;
  color: #f4f9fd;
  z-index: 1050;
  -webkit-app-region: drag;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;

  font-size: 16px;
  margin-left: 8px;
  overflow-x: hidden;
}
#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#window-controls {
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: repeat(4, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

}
#window-controls .button{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
  opacity: 0.8;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

#window-controls #close-button:hover {
  background: #e81123;
}

.headerIcon {
  max-width:100%;
  max-height:100%;
  display: inline-block;
  fill: #f4f9fd;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #settings-button {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 138px;
  top: 28px;
  left: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 101;
}
