.ongoingWeekly {
    border: #839595 0px solid;

    background-color: white;


    padding: 0.5%;

    margin-left: 0.5%;


    overflow: hidden;

    min-width: 15rem;
    width: 18vw;
    max-width: 320px;

    flex-grow: 1;
    flex-shrink: 2;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
